<h1>Display the list</h1>
<ul>
  <% @lists.each do |list| %>
  <li>
    <%= cl_image_tag list.photo.key, height: 300, width: 300, crop: :fill %>
    <%= link_to list.name, list_path(list) %>
      | <%= link_to "Edit this list", edit_list_path(list) %>
      | <%= link_to "Delete #{list.name}",
            list_path(list),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <%end%>
</ul>

<%= link_to "Add a new list", new_list_path %>

<% cl_image_tag "fwqm1ztnaxiemg4qkfyp", width: 150, height: 150, crop: :fill %>
<% cl_image_tag"fwqm1ztnaxiemg4qkfyp",
      width: 150, height: 150, crop: :thumb, gravity: :face %>
